<% include nav %>
<div class="center grey-text text-lighten-1">
  <h5>Web Developer</h5>
</div>

<div class="arrowLeft z-depth-2">
  <a href="/user/:jobId/next"><i class="material-icons large">keyboard_arrow_left</i></a>
</div>

<div class="arrowRight z-depth-2">
  <i class="material-icons large">keyboard_arrow_right</i>
</div>

<div class="row">
  <div class="col s12 m6 l4 offset-l2">
    <div class="spacer">
    </div>
      <div class="carousel carousel-slider" data-indicators="true">
        <img class="carousel-item carouselImg" src="/img/profile-placeholder.png">
        <img class="carousel-item carouselImg" src="http://lorempixel.com/800/400/food/2">
        <img class="carousel-item carouselImg" src="http://lorempixel.com/800/400/food/3">
        <img class="carousel-item carouselImg" src="http://lorempixel.com/800/400/food/4">
      </div>
  </div>


  <div class="col s12 m6 l4">

    <div class="col s12">
      <h5 class="center">
        firstName
      </h5>
    </div>
    <div class="col s12 center">
      <p>
        <i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</i>
      </p>
      <div class="col s10 offset-s1 blue-grey lighten-5">
        <p>
          Skills:<br/>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>

      <div class="spacer col s12">
      </div>
      <div class="col s10 offset-s1 blue-grey lighten-1 white-text profileContact">
        <div class="spacer col s12">
        </div>
        <p>
          email: <br/>
          me@email.com
        </p>
        <p>
          phone: <br/>
          123456789
        </p>
        <p>
          link: <br/>
          <a href="mylink.com">mylink.com</a>
        </p>
        <div class="spacer col s12">
        </div>
      </div>

    </div>
    <div class="spacer col s12">
    </div>
  <div class="center">
    <form class="" action="index.html" method="post">
      <input type="hidden" name="userId" value="userId">
      <input class="btn-large waves-effect darken-text-2" type="button" name="name" value="Connect">
    </form>
  </div>

  <div class="spacer col s12">

  </div>

  </div>
</div>
