<% include nav %>
<div class="row">
  <div class="center">
    <h5>Contacts</h5>
  </div>
  <div class="col s12 m8 offset-m2">


        <div class="col s12 m4">
          <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/img/profile-placeholder.png">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">firstName<i class="material-icons right">more_vert</i></span>
                <p>
                  Specialization
                </p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>firstName lastName</span>
                <p><i class="material-icons tiny">email</i> email@email.com</p>
                <p><i class="material-icons tiny">phone</i> 123456789</p>
                <p><i class="material-icons tiny">link</i> link</p>
                <p><a href="/user/browse/userId">View Full Profile</a></p>
              </div>
            </div>
        </div>



  </div>
</div>
