<% include nav %>

<div class="row">
  <div class="center">
    <h5>Hi <%- currentUser.firstName %>,</h5>
    <p>Who would you like to know?</p>
  </div>

<div class="col s10 offset-s1">
  <div class="center selectSpecialization">
    <% for (var i = 0 ; i < specialization.length; i++) { %>
      <p>
      <%  if ( specialization[i][1] != 4 ) { %>
        <a href="/user/<%= specialization[i][1] %>" class="btn"><%= specialization[i][0] %></a>
      </p>
      <% } %>
  <%  } %>
      <a href="/user/4" class="btn">Others</a>

  </div>
  <div class="center">
    <p>
      <a href="/user/random" class="btn red">Surprise me</a>
    </p>
  </div>
</div>




</div>
