<% include nav %>

<div class="row top-margin">
  <div class="center">
    <div class="spacer">
    </div>
    <h5>Hi <%- currentUser.firstName %>,</h5>
    <p>Who would you like to know?</p>
  </div>

<div class="col s10 m4 offset-s1 offset-m4">
  <div class="center selectSpecialization button">
    <% for (var i = 0 ; i < specialization.length; i++) { %>
      <%  if ( specialization[i][1] != 4 ) { %>
        <a href="/user/<%= specialization[i][1] %>"><button type="button" class="gradBtn" name="button"><%= specialization[i][0] %></button></a>
        <div class="spacer">
        </div>
      <% } %>
  <%  } %>
      <a href="/user/4"><button type="button" class="gradBtn" name="button">Others</button></a>

  </div>

</div>




</div>
