<nav>
  <div class="nav-wrapper teal accent-4 col">
    <a href="/user/" class="brand-logo center">Logo</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/user/contacts">Contacts</a></li>
      <li><a href="/user/requests">Requests</a></li>
      <li><a href="/user/events">Events</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a href="/user/profile"><i class="material-icons">person</i></a></li>
      <li><a href="/auth/logout"><i class="material-icons">power_settings_new</i></a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <div class="center">
        <br/>
        <% console.log("profileImg:",currentUser.profileImg) %>
        <% if (currentUser.profileImg == null) { %>
          <img class="profileImg" src="/img/profile-placeholder.png" alt="" />
          <% } else { %>
          <img class="profileImg" src="<%= currentUser.profileImg %>" alt="" />
          <% } %>
      </div>
      <li><a href="/user/contacts">Contacts</a></li>
      <li><a href="/user/requests">Requests</a></li>
      <li><a href="/user/profile">Profile</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
  </div>
</nav>
