<% include nav %>
<div class="row">
  <div class="col m6 offset-m3" id="mainAuth">
    <div class="" >
      <div class="center">
        <div class="spacer">
        </div>
        <h6>You have no contacts. Try working on your profile or start reaching out!</h6>
        <a href="/user/"><button type="button" class="gradBtn"  name="button">Start connecting</button></b></a>
      </div>
      <div class="spacer">
      </div>
    </div>
  </div>
</div>
