<% include nav %>
<div class="row">
  <div class="col m6 offset-m3" id="mainAuth">
    <div class="" >
      <div class="center">
        <div class="spacer">
        </div>
        <h5>No <%= specialization.term %> found. Please try again.</h5>
        <a href="/" class="btn-large">Return</a>
      </div>
      <div class="spacer">
      </div>
    </div>
  </div>
</div>
