<% include nav %>
<div class="row">
  <div class="center">
    <h5>Requests</h5>
  </div>
  <div class="col s12 m8 offset-m2 center">
    <h6>No connect requests. Try working on your profile or start reaching out!</h6>
    <a class="btn" href="/user/profile">Edit Profile</a>
  </div>
</div>
