<% include nav %>
<div class="row">
  <div class="center">
    <h5>Requests</h5>
  </div>
  <div class="col s12 m8 offset-m2 row">

    <div class="row card-panel">
      <div class="col s4 m2">
        <img class="circle smallProfile" src="/img/profile-placeholder.png" alt="" />
      </div>
      <div class="col s8 m8">
        <h5>firstName lastName</h5>
        <p>job function</p>
      </div>

      <div class="col s12 m2 center">
        <button class="z-depth-1 acceptReject waves-effect" type="button" name="button">Accept</button>
        <button class="z-depth-1 acceptReject waves-effect" type="button" name="button">Reject</button>
      </div>
    </div>
  </div>
</div>
