.fullwidth {
    width: 100%;
    display: block
}

.side-nav {
  padding-left: 1em
}

.profileImg {
  width: 150px;
  height: 150px;
  border: 0;
  border-radius: 10px;
  object-fit: cover;
}

.portfolioThumb {
  width: 200px;
  height: 200px;
  border: 0;
  object-fit: cover;
}

.selectSpecialization a {
  width: 80%
}

.sliderName {
  color: black;
}
